<div class="container">
    <div class="jumbotron">
        <h1>Topic: Quantifiers in Regular Expressions</h1>
        <p>In this topic, we'll delve into the concept of quantifiers in regular expressions and how they enable us to specify the number of occurrences of a character or group within a pattern.</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Introduction to Quantifiers</h2>
            <p>Quantifiers are symbols that allow us to define repetition in patterns. We'll learn about various quantifiers and their meanings.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>The <code>*</code> Quantifier</h2>
            <p>The <code>*</code> quantifier, matches zero or more occurrences of the preceding character or group. 
               Examples will illustrate its usage.
            </p>
            <ul>
                <li>Example: <code>a*</code> will match "", "a", "aa", "aaa", and so on.</li>
                <li>Example: <code>z*</code> will match "", "z", "zz", "zzzzzzzzzzzzz", and so on.</li>
                <li>Example: <code>wo*</code> will match "w", "wo", "woo", "wooooo", and so on.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>The <code>+</code> Quantifier</h2>
            <p>The <code>+</code> quantifier, matches one or more occurrences of the preceding character or group. 
               Practical scenarios will demonstrate its application.
            </p>
            <ul>
                <li>Example: <code>a+</code> will match "a", "aa", "aaa", but not "".</li>
                <li>Example: <code>z+</code> will match "z", "zz", "zzzzzz", but not "".</li>
                <li>Example: <code>wo+</code> will match "wo", "woo", "woooooo", but not "w".</li>
            </ul>
        </div>
    </div>
    <div class="row">        
        <div class="col-md-12">
            <h2>The <code>?</code> Quantifier</h2>
            <p>The <code>?</code> quantifier matches zero or one occurrence of the preceding character or group. 
               We'll provide examples to showcase its usefulness.
            </p>
            <ul>
                <li>Example: <code>colou?r</code> will match "color" and "colour".</li>
                <li>Example: <code>Hello?</code> will match "Hell" and "Hello".</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>The Curly Braces for Exact Repetition</h2>
            <p>We'll explore using curly braces <code>{}</code> to specify an exact number of occurrences.
               Curly braces specifies that the preceding element must appear exactly "n" times.
            </p>
            <ul>
                <li>Example: <code>a{3}</code>, will match  "aaa", "baaa", "aabaabaaa" but not "aa", "a", "baa".</li>
                <li>Example: <code>\b\w{5}\b</code>, will match "hello", "world", "apple" but not "hi", "code", "carrot".</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>6. Combining Quantifiers</h2>
            <p>We'll learn how to combine quantifiers with other characters to create more complex patterns. 
               Practical examples will demonstrate the power of this technique.                
            </p>
            <ul>
                <li>Example: <code>\d{2}/\d{2}/\d{4}</code>, will match  "25/12/2023", "01/01/2022" but not  "5/6/21", "2023/12/25".</li>
                <li>Example: <code>\d{2}-\w{3}-\d{4}</code>, will match  "15-FEB-1997", "01-OCT-2020" but not  "15-01-2021", "23-JULY-2025".</li>
            </ul>
        </div>
    </div>
</div>