
<div class="container">
	<div class="jumbotron">	
	</div>
	<div class="row">
		<div class="col-md-6">
			<h2></h2>
			<p></p>
			<ul>
				<li></li>
				<li></li>
			</ul>
		</div>
		<div class="col-md-6">
			<h2></h2>
			<p></p>
			<ul>
				<li></li>
			</ul>
		</div>
	</div>
</div>