
<div class="container">
	<div class="jumbotron">
		<h1>Símbolo . y comodines en expresiones regulares</h1>
		<p>El símbolo `.` se utiliza en expresiones regulares para representar cualquier carácter, excepto los saltos de línea. Los comodines son caracteres especiales que se utilizan para simplificar la búsqueda de patrones en un texto.</p>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h2>Símbolo `.`</h2>
			<p>El símbolo `.` se utiliza para representar cualquier carácter, excepto los saltos de línea. Por ejemplo:</p>
			<ul>
				<li>/a.b/ coincidiría con "acb", "aeb", "afb", etc., pero no con "ab".</li>
				<li>/c.t/ coincidiría con "cat", "cot", "cut", etc., pero no con "ct".</li>
			</ul>
		</div>
		<div class="col-md-6">
			<h2>Comodines</h2>
			<p>Los comodines son caracteres especiales que se utilizan para simplificar la búsqueda de patrones en un texto. Algunos ejemplos de comodines son:</p>
			<ul>
				<li>El asterisco (*), que representa cero o más ocurrencias del carácter anterior. Por ejemplo, /a*b/ coincidiría con "b", "ab", "aab", "aaab", etc.</li>
				<li>El signo de interrogación (?), que representa cero o una ocurrencia del carácter anterior. Por ejemplo, /colou?r/ coincidiría con "color" o "colour".</li>
				<li>Las llaves ({ }), que se utilizan para especificar un número específico de ocurrencias del carácter anterior. Por ejemplo, /a{2,4}b/ coincidiría con "aab", "aaab" o "aaaab", pero no con "ab" o "aabb".</li>
			</ul>
		</div>
	</div>
	<div class="d-flex flex-column w-100 p-2 m-0 justify-content-center align-items-end">
		<div class="d-flex flex-column w-100 h-75 mb-2">
			<ol>
				<li class="fs-5"><span class="test-regex">j</span><span class="regex-ok"> OK</span></li>
				<li class="fs-5"><span class="test-regex">J</span><span class="regex-ok"> OK</span></li>
				<li class="fs-5"><span class="test-regex">9</span><span class="regex-ok"> OK</span></li>
				<li class="fs-5"><span class="test-regex">+</span><span class="regex-ok"> OK</span></li>
				<li class="fs-5"><span class="test-regex">.</span><span class="regex-ok"> OK</span></li>
				<li class="fs-5"><span class="test-regex">\</span><span class="regex-ok"> OK</span></li>
				<li class="fs-5"><span class="test-regex">^</span><span class="regex-ok"> OK</span></li>
			</ol>
		</div>
		<div class="w-100 h-25">
			<input type="text" oninput="handleRegexChange()" placeholder="Your regex here." class="w-100 border border-3 p-2" id="id-regex-txt" />
		</div>
	</div>
</div>