
<div class="container ">
	<h1>Symbol . and Wildcards in Regular Expressions</h1>
	<p>The symbol `.` is used in regular expressions to represent any character except newline characters. Wildcards are special characters used to simplify the search for patterns in a text.</p>
	<div class="row">
		<div class="col-md-6">
			<h2>Symbol `.`</h2>
			<p>The symbol `.` is used to represent any character except newline characters. For example:</p>
			<ul>
				<li><code>/a.b/</code> would match "acb", "aeb", "afb", etc., but not "ab".</li>
				<li><code>/c.t/</code> would match "cat", "cot", "cut", etc., but not "ct".</li>
			</ul>
		</div>
		<div class="col-md-6">
			<h2>Wildcards</h2>
			<p>Wildcards are special characters used to simplify the search for patterns in a text. Some examples of wildcards are:</p>
			<ul>
				<li>The asterisk (*), which represents zero or more occurrences of the preceding character. For example, <code>/a*b/</code> would match "b", "ab", "aab", "aaab", etc.</li>
				<li>The question mark (?), which represents zero or one occurrence of the preceding character. For example, <code>/colou?r/</code> would match "color" or "colour".</li>
				<li>Curly braces ({ }), which are used to specify a specific number of occurrences of the preceding character. For example, <code>/a{2,4}b/</code> would match "aab", "aaab", or "aaaab", but not "ab" or "aabb".</li>
			</ul>
		</div>
	</div>
	<div class="d-flex flex-column w-100 p-2 m-0 justify-content-center align-items-end">
		<div class="d-flex flex-column w-100 h-75 mb-2">
			<ol>
				<li class="fs-5"><span class="test-regex">1chickenhere</span><span class="regex-ok"></span></li>
				<li class="fs-5"><span class="test-regex">1sbrokensome</span><span class="regex-ok"></span></li>
				<li class="fs-5"><span class="test-regex">1oryukendone</span><span class="regex-ok"></span></li>
				<li class="fs-5"><span class="test-regex">1sssukendsse</span><span class="regex-ok"></span></li>
				<li class="fs-5"><span class="test-regex">1&^%$ken(*&e</span><span class="regex-ok"></span></li>
			</ol>
		</div>
		<div class="w-100 h-25">
			<input type="text" oninput="handleRegexChange()" placeholder="Your regex here." class="w-100 border border-3 p-2" id="id-regex-txt" />
		</div>
	</div>
</div>