<div class="container">
    <h1>Caracteres literales en expresiones regulares</h1>
    <p>En las expresiones regulares, los caracteres literales se refieren a los caracteres que representan símbolos o caracteres específicos. Por ejemplo, la letra "a" es un carácter literal que representa el símbolo de la letra "a" en una expresión regular.</p>
    <p>Los caracteres literales se utilizan para especificar patrones precisos que se deben encontrar en una cadena de texto.</p>
    <h2>Ejemplos de caracteres literales</h2>
    <p>Algunos ejemplos de caracteres literales en expresiones regulares son:</p>
    <ul>
        <li>La letra "a" representa el símbolo de la letra "a".</li>
        <li>El número "5" representa el símbolo del número "5".</li>
        <li>El signo de puntuación "." representa el símbolo del punto literal.</li>
        <li>El símbolo del dólar "$" representa el símbolo del dólar literal.</li>
    </ul>
    <h2>Uso de caracteres especiales</h2>
    <p>Es importante tener en cuenta que algunos caracteres tienen un significado especial en las expresiones regulares y, por lo tanto, deben ser escapados para ser utilizados como caracteres literales. Por ejemplo:</p>
    <ul>
        <li>El signo de interrogación "?" representa el símbolo de cero o un caracter. Para utilizar el signo de interrogación como un carácter literal, se debe escapar con una barra invertida: "\?".</li>
        <li>El asterisco "*" representa el símbolo de cero o más caracteres. Para utilizar el asterisco como un carácter literal, se debe escapar con una barra invertida: "\*".</li>
        <li>El signo de más "+" representa el símbolo de uno o más caracteres. Para utilizar el signo de más como un carácter literal, se debe escapar con una barra invertida: "\+".</li>
    </ul>
</div>