<div class="container">
    <div class="text-center">
        <h1 class="my-4">Regular Expressions</h1>
    </div>
    <div>
        <section>
            <h2>What are Regular Expressions?</h2>
            <p>Regular expressions are search patterns used to find and manipulate text strings. In programming, they are often used for tasks such as form input validation, searching and replacing text within source code, and extracting specific information from a text string.</p>
        </section>
        <section>
            <h2>Syntax of Regular Expressions</h2>
            <p>Regular expressions are written using a specific syntax that includes special characters and metacharacters to define search patterns. For example, the pattern <code>\d+</code> is used to find any text string containing one or more digits.</p>
        </section>
        <section>
            <h2>Examples of Search Patterns</h2>
            <ul>
                <li><code>\w+</code>: Searches for any text string containing one or more alphanumeric characters or underscores.</li>
                <li><code>\d{3}-\d{2}-\d{4}</code>: Searches for any text string containing a Social Security Number in the format "###-##-####".</li>
                <li><code>^[A-Z][a-z]+$</code>: Searches for any text string containing a word that starts with an uppercase letter followed by one or more lowercase letters.</li>
            </ul>
        </section>
        <section>
            <h2>Using Regular Expressions in JavaScript</h2>
            <p>In JavaScript, regular expressions are used with the <code>RegExp</code> class. For example, the following code can be used to search for any text string containing one or more digits:</p>
            <pre>
                <code>
                    const myString = "123 Main St.";
                    const myRegex = /\d+/;
                    const result = myRegex.test(myString);
                    console.log(result); // true
                </code>
            </pre>
        </section>
    </div>
    
</div>

