@{
    ViewData["Title"] = "Home Page";   
}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1>Welcome to my website</h1>
            <p>Thanks for visiting my welcome page! Here you will find information about me and what I do.</p>
            <p>Do not hesitate to explore the site and learn more about me. If you have any questions or comments, feel free to contact me.</p>
            <p>Here are some cool things you can find on my website:</p>
            <ul>
                <li>My educational and professional history</li>
                <li>My portfolio of projects</li>
                <li>My skills and competencies</li>
                <li>My personal blog</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="https://via.placeholder.com/500x300" alt="Imagen de Bienvenida" class="img-fluid">
        </div>
    </div>
</div>
