@{
    ViewData["Title"] = "Home Page";   
}

@model UserModel

<div class="text-center">
    <div class="text-center">
        <p class="fs-1 fw-bold">Welcome</p>
    </div>
    @if (TempData["ErrorMessage"] != null) {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
    <form asp-action="Index" asp-controller="User" class="d-flex flex-column align-items-center justify-content-center" method="post">
        <div class="d-flex flex-column align-items-start w-25 mb-1">
            <label class="col-form-label fs-3" for="id-username">Username</label>
            <input asp-for="UserName" class="form-control" type="text" placeholder="Username" id="id-username" required />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="d-flex flex-column align-items-start w-25 mb-2">
            <div class="d-flex flex-row align-items-center justify-content-between w-100">
                <label class="col-form-label fs-3" for="id-password" >Password</label>
                <a asp-action="ResetPassword" asp-controller="User" class="link-primary" for="id-forgot-password">Forgot password?</a>
            </div>
            <input asp-for="Password" type="password" class="form-control" placeholder="Password" id="id-password" required />
        </div>
        <div class="w-25 mb-2">
            <a asp-action="UserCreate" asp-controller="User" class="link-primary">New in RegexApp? Create an account.</a>
        </div>
        <div class="w-25 mt-2">
            <input class="btn btn-primary w-100" type="submit" value="SIGN IN" />
        </div>
    </form>
</div>
