@{
    ViewData["Title"] = "Home Page";   
}

@model UserModel

<div class="text-center">
    <div class="text-center">
        <p class="fs-1 fw-bold">Welcome</p>
    </div>

    <form class="d-flex flex-column align-items-center justify-content-center" asp-action="ValidateLogin" asp-controller="User" method="post">
        <div class="d-flex flex-column align-items-start w-25 mb-1">
            <label class="col-form-label fs-3" for="id-username">Username</label>
            @Html.TextBoxFor(m => m.UserName, new {@placeholder = "Username",  @class = "form-control", @id = "id-username"})
            @*<input class="form-control" type="text" placeholder="Username" id="id-username" />*@
        </div>
        <div class="d-flex flex-column align-items-start w-25 mb-2">
            <div class="d-flex flex-row align-items-center justify-content-between w-100">
                <label class="col-form-label fs-3" for="id-password" >Password</label>
                <a asp-action="ResetPassword" asp-controller="User" class="link-primary" for="id-forgot-password">Forgot password?</a>
            </div>
            @Html.TextBoxFor(m => m.Password, new {@placeholder ="Password", @class = "form-control", @type="password"})
            @*<input class="form-control" type="password" placeholder="Password" id="id-password" />*@
        </div>
        <div class="w-25 mb-2">
            <a asp-action="UserCreate" asp-controller="User" class="link-primary">New in RegexApp? Create an account.</a>
        </div>
        <div class="w-25 mt-2">
            <input class="btn btn-primary w-100" type="submit" value="Login" />
        </div>
    </form>
</div>
