@{
    ViewData["Title"] = "Welcome "; 
}

<div class="container-fluid d-flex flex-column w-100 h-100 p-0 m-0 min-vh-100 ">
    <div class="row w-100 h-100 p-0 m-0">
        <aside class="d-flex bg-light sidebar w-25 h-100 p-0 m-0 min-vh-100">
            <div class="sidebar-sticky w-100 p-0 m-0">
                <div class="card card-body h-100 p-4">
                    <a class="link-primary h3" data-bs-toggle="collapse" href="#basic-level" role="button" aria-expanded="false" aria-controls="basic-level">
                        Basic Level
                    </a>
                    <div class="collapse" id="basic-level">
                        <ol>
                            <li>
                                <a class="link-secondary h4" data-bs-toggle="collapse" href="#concept" role="button" aria-expanded="false" aria-controls="concept">
                                    Introduction to regular expressions:
                                </a>
                                <ul class="collapse" id="concept">
                                    <li>
                                        <a name="_Regex" onclick="viewClick(this)" href="#">Concept of regular expression. Example: /pattern/</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="link-secondary h4" data-bs-toggle="collapse" href="#literals" role="button" aria-expanded="false" aria-controls="literals">
                                    Literal characters and basic metacharacters:
                                </a>
                                <ul class="collapse" id="literals">
                                    <li>
                                        <a name="_Literals" onclick="viewClick(this)" href="#"> Literal characters. Example: /hello/</a>
                                    </li>
                                    <li>
                                        <a name="_Dots" onclick="viewClick(this)" href="#">
                                            Dots and wildcards. Example: /h.ll/
                                        </a>
                                    </li>
                                    <li>
                                        <a name="_AsteriskAndPlus" onclick="viewClick(this)" href="#">
                                            Asterisk and plus sign. Example: /ho*l/
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="link-secondary h4" data-bs-toggle="collapse" href="#characters" role="button" aria-expanded="false" aria-controls="characters">
                                    Character classes and escape characters:
                                </a>
                                <ul class="collapse" id="characters">
                                    <li>
                                        <a name="_ClassesCharacters" onclick="viewClick(this)" href="#">
                                            Character classes. Example: /[aeiou]/
                                        </a>
                                    </li>
                                    <li>
                                        <a name="_EscapeCharacters" onclick="viewClick(this)" href="#">
                                            Escape characters. Example: /h\.ll/
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="link-secondary h4" data-bs-toggle="collapse" href="#boundaries" role="button" aria-expanded="false" aria-controls="boundaries">
                                    Anchors and expression boundaries:
                                </a>
                                <ul class="collapse" id="boundaries">
                                    <li>
                                        <a name="_BasicAnchors" onclick="viewClick(this)" href="#">
                                            Anchors. Example: /^h/
                                        </a>
                                    </li>
                                    <li>
                                        <a name="_BasicExpressionBoundaries" onclick="viewClick(this)" href="#">
                                            Expression boundaries. Example: /ll$/
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="link-secondary h4" data-bs-toggle="collapse" href="#quantifiers" role="button" aria-expanded="false" aria-controls="quantifiers">
                                    Basic quantifiers:
                                </a>
                                <ul class="collapse" id="quantifiers">
                                    <li>
                                        <a name="_BasicQuantifiers" onclick="viewClick(this)" href="#">
                                            Quantifiers. Example: /ho{2}l/
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="link-secondary h4" data-bs-toggle="collapse" href="#groups" role="button" aria-expanded="false" aria-controls="groups">
                                    Capturing and non-capturing groups:
                                </a>
                                <ul class="collapse" id="groups">
                                    <li>
                                        <a href="#">
                                            Capturing groups. Example: /ho(ll|p)l/
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="link-secondary h4" data-bs-toggle="collapse" href="#options" role="button" aria-expanded="false" aria-controls="options">
                                    Alternations and options:
                                </a>
                                <ul class="collapse" id="options">
                                    <li>
                                        <a href="#">
                                            Alternations. Example: /(cat|dog)/
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="link-secondary h4" data-bs-toggle="collapse" href="#validation" role="button" aria-expanded="false" aria-controls="validation">
                                    Practical examples with text format validation:
                                </a>
                                <ul class="collapse" id="validation">
                                    <li>
                                        <a href="#">
                                            Email validation. Example: /^[A-Z0-9._%+-]+@@[A-Z0-9.-]+\.[A-Z]{2,}$/i
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                    <a class="link-primary h3" data-bs-toggle="collapse" href="#intermediate-level" role="button" aria-expanded="false" aria-controls="intermediate-level">
                        Intermediate Level
                    </a>
                    <div class="collapse" id="intermediate-level">
                        <ol>
                            <li>
                                <a class="link-secondary h4" data-bs-toggle="collapse" href="#adv-quantifiers" role="button" aria-expanded="false" aria-controls="adv-quantifiers">
                                    Advanced quantifiers:
                                </a>
                                <ul class="collapse" id="adv-quantifiers">
                                    <li>
                                        <a href="#">
                                            Optional. Example: /ho?l/
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Obligatory. Example: /ho+l/
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Repetition. Example: /ho{2,4}l/
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="link-secondary h4" data-bs-toggle="collapse" href="#conditional" role="button" aria-expanded="false" aria-controls="conditional">
                                    Conditional regular expressions:
                                </a>
                                <ul class="collapse" id="conditional">
                                    <li>
                                        <a href="#">
                                            Conditional regular expressions. Example: /hello(?= world)/
                                        </a>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a class="link-secondary h4" data-bs-toggle="collapse" href="#references" role="button" aria-expanded="false" aria-controls="references">
                                    Backreferences and subpattern references:
                                </a>
                                <ul class="collapse" id="references">
                                    <li>
                                        <a href="#">
                                            Backreferences. Example: /(\d{3})-\1-\d{4}/
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="link-secondary h4" data-bs-toggle="collapse" href="#negative-regex" role="button" aria-expanded="false" aria-controls="negative-regex">
                                    Negative regular expressions:
                                </a>
                                <ul class="collapse" id="negative-regex">
                                    <li>
                                        <a href="#">
                                            Negation. Example: /\b(?!no)\w+\b/
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Lookahead. Example: /hello(?= world)/
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Lookbehind. Example: /(?<=hello )world/
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="link-secondary h4" data-bs-toggle="collapse" href="#flags" role="button" aria-expanded="false" aria-controls="flags">
                                    Advanced modifiers and flags:
                                </a>
                                <ul class="collapse" id="flags">
                                    <li>
                                        <a href="#">
                                            Multiline mode. Example: /(?m)^h/
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Unicode. Example: /p{L}/u
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="link-secondary h4" data-bs-toggle="collapse" href="#information-extraction" role="button" aria-expanded="false" aria-controls="information-extraction">
                                    Practical examples with information extraction:
                                </a>
                                <ul class="collapse" id="information-extraction">
                                    <li>
                                        <a href="#">
                                            Extraction of URLs. Example: /https?:\/\/[\w\-\.]+\.\w{2,5}(\/[\w\-\.\?\#\=]*)?/i
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                    <a class="link-primary h3" data-bs-toggle="collapse" href="#advanced-Level" role="button" aria-expanded="false" aria-controls="advanced-Level">
                        advanced-Level
                    </a>
                    <div class="collapse" id="advanced-Level">
                        <ol>
                            <li>
                                <a class="link-secondary h4" data-bs-toggle="collapse" href="#advanced-grammars" role="button" aria-expanded="false" aria-controls="advanced-grammars">
                                    Construction of complete grammars with regular expressions:
                                </a>
                                <ul class="collapse" id="advanced-grammars">
                                    <li>
                                        <a href="#">
                                            Complete grammars. Example: /^(\d{3})-(\d{2})-(\d{4})-(\d{2})-(\d{2})$/
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="link-secondary h4" data-bs-toggle="collapse" href="#optimization-efficiency" role="button" aria-expanded="false" aria-controls="optimization-efficiency">
                                    Optimization and efficiency of regular expressions:
                                </a>
                                <ul class="collapse" id="optimization-efficiency">
                                    <li>
                                        <a href="#">
                                            Optimization. Example: /^h.*l$/
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Efficiency. Example: /\b\w{4,}\b/
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="link-secondary h4" data-bs-toggle="collapse" href="#regex-programming" role="button" aria-expanded="false" aria-controls="regex-programming">
                                    Regular expressions in programming languages:
                                </a>
                                <ul class="collapse" id="regex-programming">
                                    <li>
                                        <a href="#">
                                            Regular expressions in programming languages. Example: import regex
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </aside>

        <div class="d-flex w-75 flex-column p-2 m-0">
            <div class="bg-dark text-white p-0 m-0">
                <h1 class="text-center">Dashboard</h1>
            </div>
            <div id="id-partial-container" class="p-4">

            </div>
        </div>        
    </div>
</div>

