
@{
    ViewData["Title"] = "Reset your password";
}

<div class="container text-center">
    <div class="w-100 mb-3">
        <h1>Change your password</h1>
    </div>
    <form class="d-flex flex-column align-items-center justify-content-center" method="post" action="ValidateEmail">
        <div class="d-flex flex-column align-items-start w-25 mb-1">
            <label class="col-form-label fs-4" for="id-new-password">New password</label>
            <input class="form-control" type="password" placeholder="New password" id="id-new-password" name="password" />
        </div>
        <div class="d-flex flex-column align-items-start w-25 mb-1">
            <label class="col-form-label fs-4" for="id-again-new-password">Re-type your new password</label>
            <input class="form-control" type="password" placeholder="Re-type your new password" id="id-again-new-password" name="repassword" />
        </div>
        <div class="w-25 mt-2">
            <input class="btn btn-success w-100" type="submit" value="Save" />
        </div>
    </form>
</div>
