@{
    ViewData["Title"] = "Create User";
}
<div class="container text-center">
    <div class="w-100 mb-3">
        <h1>User</h1>
    </div>
    <form class="d-flex flex-column align-items-center justify-content-center" method="post" asp-action="CreateUser" asp-controller="user">
        <div class="d-flex flex-column align-items-start w-25 mb-1">
            <label class="col-form-label fs-3" for="id-email">Email</label>
            <input class="form-control" type="email" placeholder="Email" id="id-email" name="email"/>
        </div>
        <div class="d-flex flex-column align-items-start w-25 mb-1">
            <label class="col-form-label fs-3" for="id-username">Username</label>
            <input class="form-control" type="text" placeholder="Username" id="id-username" name="username"/>
        </div>
        <div class="d-flex flex-column align-items-start w-25 mb-2">
            <div class="d-flex flex-row align-items-center justify-content-between w-100">
                <label class="col-form-label fs-3" for="id-password">Password</label>
            </div>
            <input class="form-control" type="password" placeholder="Password" id="id-password" name="password" />
        </div>
        <div class="d-flex flex-column align-items-start w-25 mb-2">
            <div class="d-flex flex-row align-items-center justify-content-between w-100">
                <label class="col-form-label fs-3" for="id-confirm-password">Confirm password</label>
            </div>
            <input class="form-control" type="password" placeholder="Confirm password" id="id-confirm-password" name="confirmPassword"/>
        </div>
        <div class="w-25 mt-2">
            <input class="btn btn-success w-100" type="submit" value="Create" />
        </div>
    </form>
</div>